
@{
    ViewBag.Title = "YeniAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="margin-bottom:20px;" align="center">Yeni Admin</h1>
<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>
@using (Html.BeginForm("YeniAdmin", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <!-- General Form Elements -->

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-9">
            <input type="text" name="Eposta" required placeholder="Email giriniz" class="form-control">
        </div>
    </div>


    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Şifresi</label>
        <div class="col-sm-9">
            <input type="password" name="Sifre" required placeholder="Şifre giriniz" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Yetki</label>
        <div class="col-sm-9">
            <input type="text" name="Yetki" required placeholder="Yetki giriniz (Admin VEYA Editör)" class="form-control">
        </div>
    </div>



    <button style="margin-top:25px; width:100px;" type="submit" class="btn btn-success ">Ekle</button>
}



