@using KurumsalWeb.Models.Entity
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="margin-bottom:20px;" align="center">Hakkımızda Düzenle</h1>

<!-- Table with hoverable rows -->
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Hakkımızda Açıklaması</th>
          
            <th scope="col">Düzenle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hakkimizda in Model)
        {
            <tr>
                <th>@hakkimizda.HakkimizdaID</th>
                <td>@Html.Raw( hakkimizda.Aciklama)</td>
              
                <td><a href="/Hakkimizda/Guncelle/@hakkimizda.HakkimizdaID" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }

    </tbody>
</table>


