
@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="margin-bottom:20px;" align="center">Yeni Blog</h1>
<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>
@using (Html.BeginForm("YeniBlog", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <!-- General Form Elements -->

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Başlık</label>
        <div class="col-sm-10">
            <input type="text" name="Baslik" required placeholder="Blog Başlığı Giriniz" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Kategori</label>
        <div class="col-sm-10">
            @Html.DropDownList("KategoriID", null, new {@class="form-control"})
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">İçerik</label>
        <div class="col-sm-10">
            <textarea name="Icerik" class="ckeditor"></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputNumber" class="col-sm-2 col-form-label">Resim</label>
        <div class="col-sm-10">
            <input required class="form-control" type="file" name="ResimUrl" accept=".png,.jpg,.jpeg" id="formFile">
        </div>
    </div>

    <button style="margin-top:25px; width:100px;" type="submit" class="btn btn-success ">Ekle</button>
}


